:root {
    --color-link: #6B4C2B;
    --color-text: #333333;
    --color-white: #FFFFFF;
    --color-title: #EEC37C;
    --color-bg-1: #ffedda;
    --color-bg-2: #A67C52;
    --font-title: 'Cormorant Garamond';
    --font-text: 'Nunito';
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: var(--font-text);
}
body {
    background-color: var(--color-white);
}
h1, h2, h3 {
    font-family: var(--font-title);
    margin-bottom: 0;
    margin-top: 0;
    line-height: normal;
}
h1 {
    font-weight: 500;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    font-size: 40px;
}
h3 {
    font-size: 28px;
    margin-bottom: 16px;
}
.section {
    padding: 30px 20px;
}
.section:nth-child(even) {
    background-color: var(--color-bg-1);
}
.content-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    width: 100%;
}
.section-title {
    margin-bottom: 30px;
    text-align: center;
}
a {
    text-decoration: none;
}
.d-none {
    display: none !important;
}
main {
    padding-top: 108px;
}
.maxi-contain {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/****** HEADER ******/
/* Nav globale */
.first-nav {
    background: var(--color-bg-2);
    position: fixed;
    padding: 20px;
    width: 100%;
}
.first-nav .content-section {
    gap: 28px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.social-medias.social-medias-header {
    flex-wrap: nowrap;
    width: fit-content;
}
.btn-menu {
    color: var(--color-white);
    font-size: 30px;
}
.btn-menu:hover {
    color: var(--color-link);
}
.logo-contain.logo-contain-2 {
    display: none;
}
.logo-contain {
    align-items: center;
    display: flex;
}
.logo-contain img {
    max-height: 68px;
}

/* Nav mobile */
.nav-mobile {
    display: none;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 75px;
}
.nav-mobile.nav-mobile-active {
    display: inherit;
}
.nav-mobile ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}
.nav-mobile ul li {
    cursor: pointer;
    background: var(--color-bg-1);
    border: 1px solid var(--color-title);
    border-radius: 20px;
    padding: 6px 12px;
    text-align: center;
    width: 150px;
}
.nav-mobile ul li a {
    color: var(--color-title);
    font-weight: 500;
}
.nav-mobile ul li:hover {
    background: var(--color-title);
    border: 1px solid var(--color-bg-1);
}
.nav-mobile ul li:hover a {
    color: var(--color-bg-1);
}

/* Nav desktop */
.nav-desktop {
    display: none;
}

/****** MAIN ******/
/* section présentation, titre général */
.section-presentation {
    width: 100%;
}
.section-presentation {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-presentation .content-section {
    align-items: end;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px;
}

/* Section qui suis-je ? */
.big-contain {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-qui-suis-je {
    text-align: justify;
}

/* Section tarifs */
.big-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.big-contain.big-contain-tarifs {
    flex-direction: column;
}
.big-contain.big-contain-tarifs img {
    max-height: 400px;
    object-fit: contain;
    width: 100%;
}
.tarifs-infos {
    border: 1px solid;
    padding: 6px;
    border-radius: 12px;
    text-align: center !important;
}

/* Section témoignages */
.contain-temoignages {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}
.contain-temoignages .avis {
    width: 100%;
    border: 2px solid;
    border-color: var(--color-bg-2);
    padding: 6px;
    border-radius: 12px;
}
.name-avis {
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-title);
    text-transform: capitalize;
    margin-bottom: 10px;
}

/****** FOOTER ******/
.section-footer {
    background-color: var(--color-bg-2);
}
.title-group,
.hr-footer,
.social-medias a i,
.contact-and-copy div, .contact-and-copy a,
.cgv-legal-mentions div, .cgv-legal-mentions span {
    color: var(--color-white);
}
.section-footer .content-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.title-group {
    font-family: var(--font-title);
    font-size: 32px;
    padding-top: 30px;
    text-transform: uppercase;
}
.contact-mentions-and-medias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.social-medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.social-medias a i {
    font-size: 24px;
}
.social-medias a i:hover {
    color: var(--color-link);
    transform: scale(1.1);
}
.contact-and-copy {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.little-title-footer {
    font-style: oblique;
}
.contact-and-copy a:hover, .cgv-legal-mentions div:hover {
    color: var(--color-link);
}
.cgv-legal-mentions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

/* VERSION TABLET VERTICALE 768-1023px*/
@media (min-width: 768px) {
    /****** FOR ALL ******/
    * {
        font-size: 16px;
        line-height: 25px;
    }
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .section {
        padding: 40px 30px;
    }
    .section-title {
        margin-bottom: 32px;
        text-align: start;
    }
    main {
        padding-top: 128px;
    }
    .maxi-contain {
        gap: 60px;
    }
    .maxi-contain .big-big-contain:nth-child(even) .big-contain {
        flex-direction: row-reverse;
    }
    .maxi-contain .big-big-contain .big-contain {
        align-items: start;
    }
    .maxi-contain .big-big-contain .big-contain img {
        width: 40%;
    }

    /****** HEADER ******/
    /* Nav globale */
    .first-nav {
        padding: 30px;
    }
    .btn-menu {
        font-size: 36px;
    }

    /* Nav mobile */
    .nav-mobile {
        padding: 30px;
        top: 85px;
    }
    .nav-mobile ul {
        gap: 8px;
    }
    .nav-mobile ul li {
        padding: 8px 14px;
        width: 170px;
    }

    /****** MAIN ******/
    /* Section qui suis-je ? */
    .big-contain {
        flex-direction: row;
        align-items: center;
    }
    .big-contain img {
        width: 30%;
    }

    /* Section témoignages */
    .contain-temoignages .avis {
        width: 48.8%;
    }

    /****** FOOTER ******/
    .contact-and-copy {
        width: 56%;
    }
    .social-medias, .cgv-legal-mentions {
        width: 22%;
    }
    .title-group {
        font-size: 44px;
    }
    .social-medias {
        gap: 20px;
        justify-content: start;
    }
    .social-medias a i {
        font-size: 32px;
    }
    .contact-mentions-and-medias {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px 30px 30px;
    }
    .cgv-legal-mentions {
        flex-direction: column;
        gap: 4px;
        text-align: end;
    }
    .cgv-legal-mentions span {
        display: none;
    }
}

/* VERSION TABLET HORIZONTALE 1024-1219px*/
@media (min-width: 1024px) {
    /****** FOR ALL ******/
    * {
        font-size: 20px;
        line-height: 30px;
    }
    h1 {
        font-size: 82px;
    }
    h2 {
        font-size: 58px;
    }
    h3 {
        font-size: 42px;
        margin-bottom: 35px;
    }
    .section {
        padding: 48px 40px;
    }

    /****** MAIN ******/
    /* Section témoignages */
    .contain-temoignages .avis {
        width: 49.1%;
    }
    
    /****** FOOTER ******/
    .section-footer .content-section {
        gap: 40px;
    }
    .title-group {
        font-size: 48px;
        padding-top: 40px;
    }
    .contact-mentions-and-medias {
        padding: 0 40px 40px 40px;
    }
}

/* VERSION COMPUTER 1220-infini px*/
@media (min-width: 1220px) {
    /****** FOR ALL ******/
    .section {
        padding: 52px 46px;
    }
    main {
        padding-top: 160px;
    }

    /****** HEADER ******/
    /* Nav globale */
    .first-nav {
        padding: 40px 60px;
    }
    .first-nav .social-medias {
        justify-content: end;
    }
    .logo-contain.logo-contain-1 {
        display: none;
    }
    .logo-contain.logo-contain-2 {
        display: inherit;
    }
    .logo-contain img {
        max-height: 80px;
    }

    /* Nav mobile */
    .navbar-toggler {
        display: none;
    }

    /* Nav desktop */
    .nav-desktop {
        display: inherit;
    }
    .nav-desktop ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
    }
    .nav-desktop ul li a {
        color: var(--color-white);
        display: flex;
        font-size: 18px;
        position: relative;
        text-transform: uppercase;
        text-align: center;
    }
    .nav-desktop ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1.5px;
        background-color: var(--color-white);
        transition: width 0.3s ease-in-out;
    }
    .nav-desktop ul li a:hover::after,
    .nav-desktop ul li a:focus::after {
        width: 100%;
    }

    /****** MAIN ******/
    /* Section témoignages */
    .contain-temoignages .avis {
        width: 32.3%;
    }
}